{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- Main Section -->
<main class="settingsPage profile my-md">
  <div class="container">
    <div class="layout">
      <div class="column column--1of3">
        <div class="card text-center">
          <div class="card__body dev">
            <a class="tag tag--pill tag--main settings__btn tag--lg" href="{% url 'edit_account' %}">Edytuj profil</a>
            <img class="avatar avatar--xl dev__avatar" src="{{profile.imageURL}}" alt="Profile_logo"/>
            <h2 class="dev__username">{{user.username}}</h2>
            <p class="dev__fullname">{{user.first_name }} {{user.last_name}}</p>

            {% if profile.age %}
            <p class="dev__location">Wiek: {{profile.age}}</p>
            {% endif %}

            {% if profile.phone_number %}
            <p class="dev__location">Numer tel.: {{profile.phone_number}}</p>
            {% endif %}

            {% if profile.gender %}
            <p class="dev__location">Płeć: {{profile.gender}}</p>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="column column--2of3">
        <div class="devInfo">
          <h3 class="devInfo__title">O mnie</h3>
          <p class="devInfo__about">{{profile.bio}}</p>
        </div>

        <div class="settings">
          <h3 class="settings__title">Moje akwaria</h3>
          <a class="tag tag--pill tag--main settings__btn tag--lg" href="{% url 'AquaMaker:create_aquarium' %}"><i
              class="im im-plus"></i>Dodaj akwarium</a>
        </div>

        <ul>
          {% for aquarium_info in aquarium_data %}
              <li style="list-style-type: none;">
                  <div onclick="toggleDetails('details-{{ aquarium_info.aquarium.id }}')" class="aquariums-list">
                      {{ aquarium_info.aquarium.name }}
                      <div>
                        <a href="{% url 'AquaMonitor:user_aquariums_and_parameters' aquarium_info.aquarium.id %}" class="avatar--md">
                          <img src="{% static 'images/measurement.png' %}" alt="Sprawdź parametry"/>
                        </a>
                        <a href="{% url 'AquaLife:edit_aquarium' aquarium_info.aquarium.id %}" class="avatar--md">
                          <img src="{% static 'images/parameters.png' %}" alt="Dodaj akwarium"/>
                        </a>
                        <a href="{% url 'AquaMaker:history_aquarium' aquarium_info.aquarium.id %}" class="avatar--md">
                          <img src="{% static 'images/measurement.png' %}" alt="Historia"/>
                        </a>
                      </div>
                  </div>
                  <div id="details-{{ aquarium_info.aquarium.id }}" class="aquarium-details">
                      <div>
                        <p><b>Szerokość:</b> {{ aquarium_info.aquarium.x }} cm</p>
                        <p><b>Wysokość:</b> {{ aquarium_info.aquarium.y }} cm</p>
                        <p><b>Długość:</b> {{ aquarium_info.aquarium.z }} cm</p>
                        <p><b>Oświetlenie:</b> {{ aquarium_info.aquarium.light }}</p>
                        <p><b>Pompa:</b> {{ aquarium_info.aquarium.pump }}</p>
                        <p><b>Grzałka:</b> {{ aquarium_info.aquarium.heater }}</p>
                        <p><b>Filtry:</b> 
                          <ul style="list-style-type: none;">
                            {% for filter in aquarium_info.aquarium.filters.all %}
                              <li><p>{{ filter }}<p></li>
                            {% endfor %}
                          </ul>
                        </p>
                        <p><b>Dekoracje:</b> 
                          <ul style="list-style-type: none;">
                          {% for decorator in aquarium_info.aquarium.decorators.all %}
                            <li><p>{{ decorator }}</p></li>
                          {% endfor %}
                          </ul>
                      </p>
                      </div>
                      <div>
                        <div class="formHead">
                          <p><b>Rybki w akwarium</b></p>
                        </div>
                        <br>
                        <ul class="fish-list">
                          {% for fish in aquarium_info.fishes %}
                          <li class="fish-item">
                              <div class="fish-capsule fish-name">{{ fish.name }}</div>
                              <div class="fish-capsule fish-species">{{ fish.species }}</div>
                              <div class="fish-capsule fish-age">Wiek: {{ fish.age }} msc.</div>
                          </li>
                          {% empty %}
                          <p>Brak rybek w akwarium</p>
                          {% endfor %}
                        </ul>
                        </p>
                      </div>
                  </div>
              </li>
          {% empty %}
              <li>Brak akwariów</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</main>

<script>
  function toggleDetails(id) {
      var details = document.getElementById(id);
      if (details.style.display === "none" || details.style.display === "") {
          details.style.display = "flex";
      } else {
          details.style.display = "none";
      }
  }
</script>

{% endblock %}
