{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="settingsPage profile my-md">
  <div class="container">
    <div class="layout">
      <div class="column column--1of3">
        <div class="card text-center">
          <div class="card__body dev">
            <h2 class="dev__username">Twoje akwaria</h2>
            {% for aquarium in aquariums %}
                <a style="all: initial; cursor: pointer" href="{% url 'AquaMonitor:user_aquariums_and_parameters' aquarium.id %}">
                  {% if selected_aquarium and selected_aquarium.id == aquarium.id%}
                    <div style="border: 2px solid var(--color-main-light);" class="message_card">
                  {% else %}
                    <div class="message_card">
                  {% endif %}
                        <h3>{{ aquarium.name }}</h3>
                    </div>
                </a>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="column column--2of3">
        <div class="card text-center">
            <div class="card__body dev">
            {% if selected_aquarium %}
                <h2 class="dev__username">Historia parametrów dla {{ selected_aquarium.name }}</h2>
                {% for parameter in parameters_history %}
                {% if forloop.first %}
                  <div style="text-align: left; border: 2px solid var(--color-main-light);" class="message_card">
                {% else %}
                  <div style="text-align: left;" class="message_card">
                {% endif %}
                    <div style="width: 28%;"><p><b>Data:</b> {{ parameter.date|date:"d.m.Y H:i" }}</p></div>
                    <div style="width: 14%;"><p><b>NO2:</b> {{ parameter.no2 }}</p></div>
                    <div style="width: 14%;"><p><b>NO3:</b> {{ parameter.no3 }}</p></div>
                    <div style="width: 14%;"><p><b>GH:</b> {{ parameter.gh }}</p></div>
                    <div style="width: 14%;"><p><b>KH:</b> {{ parameter.kh }}</p></div>
                    <div style="width: 14%;"><p><b>pH:</b> {{ parameter.ph }}</p></div>
                </div>
                {% empty %}
                    <h4>Historia jest pusta.</h4>
                {% endfor %}
                <div class="settings__saveBtn">
                    <a class="btn tag--main btn--main my-md tag--pill" href="{% url 'AquaMonitor:add_water_parameter' selected_aquarium.id %}">Dodaj pomiary</a>
                </div>
            {% else %}   
                <h2 class="dev__username">Wybierz akwarium</h2>
            {% endif %}
            </div>
          </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
