{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="settingsPage profile my-md">
  <div class="container">
    <div class="layout">
      <div class="column column--1of3">
        <div class="card text-center">
          <div class="card__body dev">
            <a href="{% url 'admin_panel' %}">MODULES</a>
            <br>
            <ul>
                {% for module in modules %}
                    <li><a href="{% url 'admin_panel_model' module %}">{{module}}</a></li>
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="column column--2of3">
        <div class="card text-center">
            <div class="card__body dev">
                {% if model %}
                    <h2>{{model}}</h2>
                    <ul>
                    {% for instance in instances %}
                        <li><a href="{% url 'admin_panel_details' model instance.id %}">{{instance}}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    Wybierz model który chcesz edytować
                {% endif %}
            </div>
          </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
